# Aliases
alias aliases='wemacs ~/.personalconfig/zshaliases.rc; source ~/.zshrc; echo "ZSH config reloaded"'
alias aliases-work='wemacs ~/.xrc-work; source ~/.xrc-work; echo "Work aliases reloaded"'
alias zshconf="emacs -nw ~/.personalconfig/zsh.zshrc ~/.zshrc; source ~/.zshrc; echo 'ZSH config reloaded'"
alias grep='grep --color=auto'
alias grepi='grep -i'
alias wemacs='emacs -nw'
alias fif='~/.personalconfig/scripts.py fif'
alias hilite='~/.personalconfig/scripts.py hilite'
alias sjava='ack-grep -i --java'
alias spython='ack-grep -i --python'
alias sxml='ack-grep -i --xml'
alias reloadzsh=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"
alias logrep='adb logcat | grep -i'
alias tidyxml='tidy -xml -i -'
alias ipy='ipython'
alias notebook='ipython notebook'
alias pysh='ipython --profile=pysh'

# Alias suffixes
alias -s el=emacs

if which google-chrome > /dev/null 2>&1; then
    alias -s html=google-chrome
elif which chromium-browser > /dev/null 2>&1; then
    alias -s html=chromium-browser
else
    alias -s html=firefox
fi


