# Aliases
alias aliases='emacsclient --alternate-editor=emacs -nw ~/.personalconfig/zshaliases.rc; source ~/.personalconfig/zshaliases.rc; echo "ZSH aliases reloaded"'
alias aliases-work='emacsclient --alternate-editor=emacs -nw ~/.zshrc-work; source ~/.zshrc-work; echo "Work aliases reloaded"'
alias zshconf="emacsclient --alternate-editor=emacs -nw ~/.personalconfig/zsh.zshrc ~/.zshrc; source ~/.zshrc; echo 'ZSH config reloaded'"
alias grep='grep --color=auto'
alias grepi='grep -i'
alias grpei='grep -i'
alias grpe='grep'
alias wemacs='emacs -nw'
alias we='emacsclient -nw --alternate-editor=emacs'
alias ew='emacsclient -nw'
alias fif='~/.personalconfig/scripts.py fif'
alias hilite='~/.personalconfig/scripts.py hilite'
alias gbranches='git for-each-ref --sort=-committerdate refs/heads/'

# Search aliases
alias sjava='ack-grep -i --java'
alias spython='ack-grep -i --python'
alias sxml='ack-grep -i --xml'
alias syaml='ack-grep -i --yaml'
alias szsh='ack-grep -i --shell'
alias sbuild='ack-grep -i --build'
alias sproto='ack-grep -i --proto'

alias reloadzsh=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"
alias killsuggest="pkill -f 'completion-server.zsh'"
alias logrep='adb logcat | grep -i'
alias logclear='adb logcat -c'
alias tidyxml='tidy -xml -i -'
alias ipy='ipython'
alias notebook='ipython notebook'
alias pysh='ipython --profile=pysh'
alias einit='emacs --no-window --debug-init ~/.emacs.d/init.el ~/.personalconfig/emacs.init.el'

# Alias suffixes
alias -s el=emacs
alias -s txt=$EDITOR
alias -s rc=$EDITOR
alias -s conf=$EDITOR
alias -s html=$BROWSER

# GCloud SDK
alias gcomp='gcloud compute'
alias gvm='gcloud compute instances'
alias gproject='gcloud config set project'
